*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}
ul{
	margin-bottom: none;
}
body,h2,h3,h4,h5,h6,p,span,label,input,textarea,li{
	font-family: 'Poppins', sans-serif;
}

header{
	background-color: #ecfdff;
}

.nav-icon ul li{
	list-style: none;
	display: inline-block;
    margin-left: 20px;
}

.nav-icon ul li a i{
	color: #363636;
}


/******************dropdown start**********/
.nav-item{
    position: relative;
}

.sub-menu{
    opacity: 0;
}

.sub-menu{
    position: absolute;
    display: inline;
    background-color: #ff3368;
    z-index: 9999;
    padding: 5px 20px;
    line-height: 1.5;
    text-align: left;
    left: 0px;
    list-style: none;
    border-radius: 5px;
    line-height: 1.7;
   transition: 1.5s;
    
 }

 .sub-menu a{
    color: white;

 }
   
.nav-item:hover .sub-menu{

        opacity: 1;
}


/******************dropdown end*******************/
.nav-icon .letter{
	position: absolute;
    border-radius: 50%;
    background-color: #f13d80;
    width: 14px;
    height: 14px;
    right: 3px;
    top: 25px;
    content: "5";
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    color: #fff;
}

.nav-link{
	color: #000 !important;
    font-size: 15px;
    padding: 36px 23px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    line-height: 12px;
    font-weight: 400;
  }

 .nav-item{
 	margin: 0px 16px;
 }

.banner{
	height: 100vh;
	width: 100%;
	background-color: #ecfdff;
}
.banner-content{
	padding-top: 100px;
}
.banner-left h1{
	font-size: 40px;
	text-transform: capitalize;
	font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.4;

}
.banner-left p{
	font-size: 15px;
	font-weight: 300px;
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
    margin-bottom: 70px;
    color: #000;
 }

.banner-left .banner-btn{
	box-shadow: none;
	display: inline-block;
    width: 180px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
    background-color: #ff3368;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-transform: capitalize;
    background-size: 200% auto;
    text-transform: uppercase;
    background-image: linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%);

}

.banner-left .banner-btn:hover{
	color: #fff !important;
    background-position: right center;
    outline: none;
    text-decoration: none;
}

/****************3rd section css features*******************/
.features{
	width: 100%;
	padding: 100px 0px;
}
h2{
	font-size: 35px;
    line-height: 40px;
    color: #1a1a1a;
    font-weight: 700;
    position: relative;
    margin-bottom: 28px;
    font-family: "Poppins", sans-serif;
}

.f-item{
	background-color: #ecfdff;
}

.item-content h3{
	font-size: 24px;
    font-weight: 700;
    margin-top: 21px;
    font-family: "Poppins", sans-serif;
}

.item-content p{
	font-family: "Poppins", sans-serif;
    line-height: 13px;
    font-size: 15px;
    margin-bottom: 0px;
    color: #000;
    font-weight: 300;
}

.item-content a{
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 2px;
	color: #ff3368;
	position: absolute;
	bottom: 60px;
	line-height: 15px;
	z-index: 5;
	opacity: 0;
	-webkit-transition:0.5s;
	transition: 0.5s;
}

.f-item:hover .item-content a{
	opacity: 1;
	transform: translateY(10px);
}

/***************4th section css start from here*/

.text-right{
	text-align: right;
}

.cpb-4{
  padding-bottom: 55px;  
}

/****5th products awesom section css start from here**********/

.products{
	width: 100%;
	padding: 100px 0px;
}

.p-content .p-name{
	font-weight: 700;
    font-size: 18px;
    margin-bottom: 14px;
    color: #000;
    font-family: "Poppins", sans-serif;

}
.p-contenrt .price{
	font-weight: 300;
    font-size: 18px;
}

.add-to-cart{
	color: #ff3368;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-top: 10px;
    opacity: 0;
   -webkit-transition: 0.5s;
    transition: 0.5s;
}
.p-item:hover .add-to-cart{
	opacity: 1;
	transition: 0.5s ease-in-out;
}

.p-item:hover .p-content{
	margin: 0px 20px;
	transition: 0.5s ease-in-out;
}

.add-to-cart i{
	float: right;
}


/*******section weekly sale off css start from here*/

.weekly-sale{
	width: 100%;
	padding: 100px 0px;
	background-color: #ecfdff;;
}
.col-md-6 h1{
	font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    color: #1a1a1a;
    font-family: "Poppins", sans-serif;
    padding-left: 30px;
}
.timer{
	padding-top: 40px;
	margin-right: 80px;
	display: flex;
	justify-content: space-evenly;
	font-size: 13px;
	color: #666666;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
}

.box{
	margin-top: 100px;
}

.box input{
	height: 60px;
    margin-left: 40px;
    padding-right: 20px;
    border: none;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
}

.box a{
	display: inline-block;
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    background-color: #ff3368;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
    background-size: 200% auto;
    text-transform: uppercase;
    background-image: linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%);
    text-decoration: none;
}

.box a:hover{
	color: #fff !important;
    background-position: right center;
    outline: none;
    text-decoration: none;
}

/*********best seller section css start from here*/

.best-seller{
	width: 100%;
	padding: 100px 0px;
}
.text-content{
	display: flex;
}

.text-content h2{
	font-size: 35px;
    line-height: 40px;
    color: #1a1a1a;
    line-height: 27px;
    font-weight: 700;
    position: relative;
    margin-bottom: 28px;
    font-family: "Poppins", sans-serif;
    text-align: left !important;
}

.text-content span{
	color: #adadad;
    font-size: 20px;
    font-weight: 00;
    margin-left: 60px;
}

.c-content .c-name{
	font-weight: 700;
    font-size: 18px;
    margin-bottom: 14px;
    color: #000;
    font-family: "Poppins", sans-serif;
}

.c-content .price{
	font-weight: 300;
    font-size: 18px;
    color: #000;
    font-family: "Poppins", sans-serif;
}

.c-item:hover .c-content{
	margin: -5px 0px;
	transition: 0.5s ease-in-out;
}


/****New offer section css start from here******/

.row{
	justify-content: center;
}
.new-offer{
	width: 100%;
	padding: 100px 0px;
}

.new-offer{
	background: url(../img/end.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.txt-item{
	
	padding-bottom: 20px;
	}	

.txt-item p{
	font-size: 14px;
    font-weight: 400;
    color: #ff3368;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.txt-item h2{
	font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin: 35px 0 67px;
    color: #1a1a1a;
    font-family: "Poppins", sans-serif;
    text-align: center!important;
}

.form{
	display: flex;
}
.form input{
	padding-right: 100px;
	padding-left: 20px;
	margin-right: 10px;
	border: none;
}

.form .baton a{
	display: inline-block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    background-color: #ff3368;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
    background-size: 200% auto;
    text-transform: uppercase;
    background-image: linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%);
    text-decoration: none;
}
.form a:hover{
	color: #fff !important;
    background-position: right center;
    outline: none;
    text-decoration: none;
}

/******logo section css start from here*************/


.client-logo{
	width: 100%;
	padding: 100px 0px;
}

.logo-gallery{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
}

.logo-gallery div{
	text-align: center;
	padding: 28px;
}

.logo-gallery div:nth-child(1),
.logo-gallery div:nth-child(2),
.logo-gallery div:nth-child(3),
.logo-gallery div:nth-child(4),
.logo-gallery div:nth-child(5){
	border-bottom: 1px solid #edeff2;
	
}

.logo-gallery div:nth-child(1),
.logo-gallery div:nth-child(2),
.logo-gallery div:nth-child(3),
.logo-gallery div:nth-child(4){
	border-right: 1px solid #edeff2;
}
.logo-gallery div:nth-child(6),
.logo-gallery div:nth-child(7),
.logo-gallery div:nth-child(8),
.logo-gallery div:nth-child(9){
	border-right: 1px solid #edeff2;
}

/************footer section css start from here*/


.footer-part{
	width: 100%;
	padding: 100px 0px;
}
.col-md-2 h4{
	font-size: 19px;
	margin-bottom: 30px;
    font-weight: 500;
    color: #000;
    font-family: "Poppins", sans-serif;
}


.col-md-2 p a{
	list-style: none;
	color: #7f7f7f;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    justify-content: left;

}
.col-md-4 p{
	font-family: "Poppins", sans-serif;
    line-height: 2;
    font-size: 15px;
    margin-bottom: 0px;
    color: #000;
    font-weight: 300;
}


.col-md-4 h4{
	font-size: 19px;
	margin-bottom: 30px;
    font-weight: 500;
    color: #000;
    font-family: "Poppins", sans-serif;
}

.box input{

	text-align: left;
	padding: 20px 15px;
    font-size: 13px;
    border: 0px solid transparent;
    width: 80%;
    background-color: #f9f9fe;
    overflow: visible;

}

}

.box a{
    margin-top: 20px;
	background-color: #ff3368;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #ff3368;
}

.box{

	display: flex;
    margin-right: 40px;
}

.last-line{
    width: 100%;
    padding: 50px 0px;
}

.col-md-8 p{

	margin-top: 50px;
	font-family: "Poppins", sans-serif;
    line-height: 2;
    font-size: 15px;
    margin-bottom: 0px;
    color: #888;
    font-weight: 300;
}

.icon-content ul li{
   display: inline-block;
   list-style: none;
   font-size: 14px;
   font-weight: 400;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    color: #7f7f7f;
    -webkit-transition: 0.5s;
    
    text-decoration: none;
    background-color: transparent;

}

.icon-content ul li a{
    
   font-size: 14px;
   font-weight: 400;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    color: #7f7f7f;
    padding: 10px 15px;
    -webkit-transition: 0.5s;
   
    text-decoration: none;
   
}

.icon-content a:hover{
    background-color: #ff3368;
    box-shadow: -1.717px 8.835px 29.76px 2.24px rgb(255 51 104 / 18%);
    color: #fff !important;
    outline: none;
    text-decoration: none;
    transition: 0.5s;

}  

/********project end************************/